* { 
    font-family:Verdana, Tahoma, Arial; 
    font-size: 18px; 
    margin: 0px;
    padding: 0;
} 
header{
    background-color: black;
    color: white;
}
footer{
   background-color: black;
    height:300px;
   color:#6D0303;
   text-align: center;
}
.photo1{
    background-color: black;
}
p{
    text-align: justify;
}
h1{
    text-align: center;
    font-size: 47px;
    padding: 15px;
   font-family: 'Lobster', cursive;
}
h2{
    text-align: center;
    color: #6D0303;
     font-family: 'Lobster', cursive;
     font-size: 30px;

}
h3{
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
#menu{
    color: white;
}
nav{
    padding: 10px;
    line-height: 1.5;
}
a{
    text-decoration: none;
    color:#6D0303;
}
ul li.active{
    background: #A29890;
}
/*a:active{
    background: #D3D3D3;
    z-index:-1;
    transition:0.5;
    opacity:0.5;
}*/
input:focus{
    background-color:#D3D3D3;
}
/*a:visited{
    color:white;
}*/
.nonstyle{
    list-style: none;
}
#pub{
    margin-top: 150px;
    margin-left: 20%;
    margin-right: 20%;
    color:white;
    background-color: #6D0303;
    text-align: center;
    font-size: 33px;
    line-height: 2.2;
   	border: 1px solid;
    box-shadow: 3px 3px 2px #A29890; 
   -webkit-animation: blink2 1s linear infinite;/* мигающая херобора*/
  animation: blink2 1s linear infinite;
}
@-webkit-keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }
}
@keyframes blink2 {
  100% { color: rgba(34, 34, 34, 0); }/*  закончилась мигающая херобора*/
}




#inscription{
    line-height: 1.8;
    text-align: center;
    padding: 5%;
    padding-bottom: 8%;
}
#contact{
color: white;
margin-top: 150px;
text-align: center;
font-size: 22px;
line-height: 1.6;
}
#time{
    text-align: right;
    font-size: 30px;
}
#suplementaire{
    display: flex;
    position: relative;
}
#infgeneral{
    flex: 3;
    padding: 10px;
    padding-top: 30px;
}
#menu1{
flex: 1;
padding: 10px;
padding-top: 30px;
background-color: black;
}
.section{
    display: flex;
    position: relative;
}
.left{
    flex: 3;
    padding: 10px;
    padding-top: 30px;

}
.right{
flex: 1;
padding: 10px;
padding-top: 30px;
background-color: black;
}
#crazy{
    width: 250px;
    height: 150px;
    float: left;
    padding-right:10px;
    padding-bottom: 3px;
}
#rob{
    width: 200px;
    height: 250px;
    float: left;
    padding-right:10px;
    padding-bottom: 3px;
}
#den{
    width: 200px;
    height: 280px;
    float: left;
    padding-right:10px;
    padding-bottom: 3px;
}
#nuit{
    width: 200px;
    height: 280px;
    float: left;
    padding-right:10px;
    padding-bottom: 3px;
}
#cat{
    margin-top: 30px;
    text-align: center;
}
#catvrais{
        border: 1px solid;
       box-shadow: 3px 3px 2px #A29890; 
}
/*тут пошли наши слайды*/
.slider{
    max-width: 90%;
    position: relative;
    margin: auto;
    height: 500px;
    margin-bottom: 15px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    object-fit: cover;
    width: 100%;
    height: 500px;
    border: none !important;
    box-shadow: none !important;
}
/* Кнопки вперед и назад */
.slider .prev, .slider .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}
.slider .next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* При наведении на кнопки добавляем фон кнопок */
.slider .prev:hover,
.slider .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
/* Анимация слайдов */
.active,
.slider-dots_item:hover {
    background-color: #aaa;
}

.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/*слайды закончились тут*/
fieldset{
    padding: 5px;
    margin-top: 100px;
    color: #6D0303;
}

/*нижние слайды*/
.container{
    margin: 0;
    height: 230px;
    width: 100%;
   position: absolute;
    display: block;
    overflow: hidden;   /*одна на другую накладывается*/
}
figure{
    height:100%;
    width:100%; 
    background-size: cover;
    background-position: center;
    position: absolute;
    display: block;
    overflow: hidden; 
    animation: slider 12s infinite;
}
figure:nth-child(1){
    background-image: url("i2.jpg");
    z-index: 4;
    left: 0;
    animation-delay: -1s;
    
}
figure:nth-child(2){
    background-image: url("img/i1.jpg");
    z-index: 6;
    animation-delay: 1s;
}
    
figure:nth-child(3){
        background-image: url("img/i3.jpg");
        z-index: 5;
        animation-delay: 3s;
}
figure:nth-child(4){
    background-image: url("img/i4.jpg");
    z-index: 4;
    animation-delay: 5s;
}
figure:nth-child(5){
    background-image: url("img/i5.jpg");
    z-index: 3;
    animation-delay: 7s;
}
figure:nth-child(6){
    background-image: url("img/i62.jpg");
    z-index: 2;
    animation-delay: 9s;
}
figure:nth-child(7){
    background-image: url("img/i7.jpg");
    z-index: 1;
    left: 0;
    animation-delay: 11s;
}
@keyframes slider{
    0%{left: 100%;width: 100%}
    5%{left: 0;}
    25%{left: 0;}
    30%{left: -100%;width: 100%}
    31%{left: -100%;width: 0}
    100%{left:100% ;width:0 }
}
/*делаем респонсивный*/
@media screen and (max-width: 860px)
{
    *{
        margin: 0;
        padding: 0;
    }
    main{
        width: 100vw;
    }
    .section{
        display: inline;

    }
    #suplementaire{
        flex-direction: column-reverse;
    }
.slider{
    max-width: 90%;
    height: 318px;
    margin-bottom: 15px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    width: 100%;
    height: 318px;
}
footer{
    height:178px;
}
.container{
    height: 142px;
    width: 100%;
}
}
@media screen and (max-width: 740px){
#crazy,#rob,#den,#nuit{   
    float: none;
    text-align: center;
}
#fou,#barat,#mother,#night{
    text-align: center;
}
nav{
    text-align: center;
}
}
@media screen and (max-width: 500px){
    .slider{
    max-width: 90%;
    height: 185px;
    margin-bottom: 15px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    width: 100%;
    height: 185px;
}
footer{
    height:107px;
}
.container{
    height: 85px;
    width: 100%;
}

@media screen and (max-width: 300px){
    .slider{
    max-width: 90%;
    height: 111px;
    margin-bottom: 15px;
}
/* Картинка масштабируется по отношению к родительскому элементу */
.slider .item img {
    width: 100%;
    height: 111px;
}
footer{
    height:64px;
}
.container{
    height: 51px;
    width: 100%;
}
}